* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* ---------------TAGS----------------- */
body {
    font-size: 100%;
}


/* ---------------CLASS---------------- */

/* Cabeçalho */
.cabecalho {
    display: flex;
    flex-direction: column;  
}

.cabecalho-principal {
    text-align: center;  
    background-color: green;
    color: ivory;
}

.cabecalho-menu {
    padding-left: 30px;
    display: flex;
    background-color: rgb(86, 234, 245);
    gap: 30px;
    height: 25PX;
    align-items: center;
}

.cabecalho-menu-item {
    color: black;
}

/* Conteudo */
.conteudo {
    display: flex;
    min-height: 550;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 500px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

/* Texto */
.conteudo-principal-texto {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    min-width: 500px;
    max-width: 80%;
}

.conteudo-principal-texto-titulo {
    text-align: center;

}

.conteudo-principal-texto-subtitulo {
    text-align: center;
    padding: 0px 100px;
}

.conteudo-principal-texto-introducao {
    text-align: justify;
    padding: 0 60px;
}

.conteudo-principal-texto-categoria {
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 5px;
    text-align: center;
}

.conteudo-principal-texto-lista {
    display: flex;
    text-align: justify;
    padding: 0 60px;
    flex-direction: column;
    gap: 10px;
}

/* Rodape */
.rodape {
    display: flex;
    background-color: turquoise;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.rodape-texto-credito {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
